/*
 * Empty Stylesheet file.
 */

.other_button {
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.1),10.0,0.0,0.0,10.0);
    -fx-background-color : #e6efef;
    

}

.other_button:hover{
    -fx-background-color : #6ecff6;
    -fx-border-color:#002366 ;
    -fx-border-width:2px;
    -fx-border-style:solid;

}
.other_button:pressed{
    -fx-background-color : #6ecff6;
    -fx-border-color:#002366 ;
    -fx-border-width:4px;
    -fx-border-style:solid;

}

.button_add{
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.1),10.0,0.0,0.0,10.0);
    -fx-background-color :  #99b8ce;
    -fx-background-radius: 30;
}

.button_add:hover{
    -fx-background-color : #6ecff6;
    -fx-border-color:#002366 ;
    -fx-border-width:2px;
    -fx-border-radius: 30;
    -fx-border-style:solid;
}

.button_add:pressed{
    -fx-background-color : #6ecff6;
    -fx-border-color:#002366 ;
    -fx-border-width:4px;
    -fx-border-radius: 30;
    -fx-border-style:solid;

}

.side_anchor{
    -fx-background-color :#99b8ce ;
    -fx-border-color:#002366 ;

}

.dark_blue_back{
    -fx-background-color : #111f2d;
}
